<div class="footer">
    <div class="iconDiv">
    <a href="https://www.instagram.com/ghibli.movies/?hl=en" target="_blank"><img class="icon" src="../../../assets/icons/instagram.png" alt="instagram"></a>
    <a href="https://www.youtube.com/watch?v=HGl75kurxok" target="_blank"><img class="icon" src="../../../assets/icons/youtube.png" alt="youtube"></a>
    <a href="https://twitter.com/GhibliUSA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img class="icon" src="../../../assets/icons/twitter.png" alt="twitter"></a>
    </div>
    <p>2022 Anabel Aramayo - EY practice </p>
</div>