<app-header></app-header>
<app-server></app-server>
<!-- estas son las imagenes de la pagina principal-->
<div class="main">
    <div class="imagenesMain">
        <img class="letrasLogo" src="../assets/images/letras-logo.png">
        <img class="imagenAcompa" src="../assets/images/chihiroImg.jpg">
        <img class= "fundador" src="../assets/images/logo-2.jpg">
        <!--<img class="ponyo" src="../assets/images/ponyo-1.jpg">-->
    </div>
</div>
<!--este es el cuerpo de la pagina-->
<!--
<div class="container">
    <table>
            <tr>
                <td>shrek</td>
                <td>de la casita de barro</td>
                <td>12345234</td>
            </tr>
            <tr>
                <td>fiona</td>
                <td>de muy muy lejano</td>
                <td>93029485729</td>
            </tr>
    </table>
</div>
-->

<app-footer></app-footer>
