<div>
    <section class="search">
        <input type="text" class="inputSearch">
        <button><span>Search</span></button>
    </section>
    <section class="movies">
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/castlePoster.jpg">
            <p>A young boy and a girl with a magic crystal must race against pirates and foreign agents in a search for a legendary floating castle. A young boy stumbles into a mysterious girl who floats down from the sky. The girl, Sheeta, was chased by pirates, army and government secret agents.</p>
        </div>
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/chihiroPoster.jpg">
            <p>10-year-old Chihiro and her parents stumble upon a seemingly abandoned amusement park. After her mother and father are turned into giant pigs, Chihiro meets the mysterious Haku, who explains that the park is a resort for supernatural beings who need a break from their time spent in the earthly realm.</p>
        </div>
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/howlsPoster.jpg">
            <p>When an unconfident young woman is cursed with an old body by a spiteful witch, her only chance of breaking the spell lies with a self-indulgent yet insecure young wizard and his companions in his legged, walking castle.</p>
        </div>
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/kikisPoster.jpg">
            <p>Kiki is thirteen and on her own. Once a witch turns thirteen, it is time for her to go out and find a city to settle in for a year to complete her witches study. It is this time for her and we get to go along as she attempts to survive in the world on her own.</p>
        </div>
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/ponyoPoster.jpg">
            <p>The son of a sailor finds a beautiful goldfish trapped in a bottle on the beach and upon rescuing her, names her Ponyo. But she is no ordinary goldfish. The daughter of a masterful wizard and a sea goddess, Ponyo uses her father’s magic to transform herself into a young girl and quickly falls in love.</p>
        </div>
        <div class="tarjeta">
            <img class="tarjetaImagen" src="../../assets/images/totoroPoster.jpg">
            <p>Two young girls move into a house in the country with their father to be closer to their hospitalized mother. Satsuki and Mei discover that the nearby forest is inhabited by magical creatures called Totoros. They soon befriend these Totoros, and have several magical adventures.</p>
        </div>
    </section>
</div>