<div class="header">
    <img class="header_logo" src="../../../assets/images/StudioGhibliLogo.png">
    <!--<div class="menuDesplegable">
        <ul class="nav">
            <li>
                <img class="hamburguerMenu" src="../../../assets/icons/main-menu.png">-->
                <a href=""><p>MOVIES</p></a>
                <a href=""><p>CONTACT US</p></a>
                <a href=""><p>PARK</p></a>
                <!--<ul class="subMenu">
                    <li>Movies</li>
                    <li>Hayao Miyazaki</li>
                    <li>Contact Us</li>
                </ul>
            </li>
            </ul>
        </div>-->
    <div class="frase">
        <!--"Los límites son tres: el cielo, la imaginación y tú misma"-->
        By Hayao Miyazaki
    </div>
</div>